name: 'CI'

on:
  push:
    branches:
      - master
    paths:
      - 'homework/**'
      - '.github/**'
      - 'CMakeLists.txt'
      - 'ci/**'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Install GCC-10 and Doxygen
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install -y doxygen gcc-10 g++-10 libssl-dev libboost-dev
      - name: Install pip requirements
        run: pip install -r ci/requirements.txt
      - name: Run CI
        run: python3 -m ci.ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CC: /usr/bin/gcc-10
          CXX: /usr/bin/g++-10