name: 'CI'

on:
  push:
    branches:
      - master
    paths:
      - 'homework/**'
      - '.github/**'
      - 'CMakeLists.txt'
      - 'ci/**'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Install Doxygen
        run: sudo apt-get install -y doxygen
      - name: Run CI
        run: python3 -m ci.ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}